<div class="mainbox">
  <div class="container">
    <img
      class="title-img"
      src="../../../../assets/images/landing/home-blob.svg"
      alt=""
    />
    <div class="err">
      <div>4</div>

      <div class="btnContainer">
        <div class="logo-cont">
          <div class="circle"></div>
          <img
            class="logo"
            src="../../../../assets/images/landing/logo.png"
            alt=""
          />
        </div>
      </div>
      <div>4</div>
    </div>
    <div class="msg">
      Maybe this page moved? Got deleted? Is hiding out in quarantine? Never
      existed in the first place?
      <p>Let's go <a routerLink="/">Home</a> and try from there.</p>
    </div>
  </div>
</div>
