<!-- <div class="background"></div> -->

<div class="home">
  <div class="container">
    <div class="intro">
      <img
        class="title-img"
        src="../../../../assets/images/landing/home-blob.svg"
        alt=""
      />
      <div class="title-cont">
        <h1 class="title">
          <p>Welcome to</p>
          <p>Lord Of The Rents</p>
        </h1>
        <p class="text">
          This service is aimed to elevate the relationship between LandLord and
          Tenant. Gone are the times in which the dynamic between both parties
          are to be strained and without ease of connection.
        </p>
      </div>
    </div>

    <div class="btnContainer">
      <h1 class="begin">Begin Your Journey</h1>
      <div class="logo-cont">
        <div class="circle"></div>
        <img
          class="logo"
          src="../../../../assets/images/landing/logo.png"
          alt=""
        />
      </div>

      <div class="btns">
        <button
          class="register"
          (click)="onSignUp()"
          style="margin-right: 20px"
          routerLink="register"
        >
          Register
        </button>
        <button
          class="login"
          (click)="onlogin()"
          style="margin-left: 20px"
          routerLink="login"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>
