<div class="container-fluid">
  <svg class="svg-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 100">
    <path
      d="M0 86L21.5 79.5C43 73 86 60 128.8 59C171.7 58 214.3 69 257.2 68.2C300 67.3 343 54.7 385.8 56C428.7 57.3 471.3 72.7 514.2 71.7C557 70.7 600 53.3 642.8 53.3C685.7 53.3 728.3 70.7 771.2 77.5C814 84.3 857 80.7 878.5 78.8L900 77L900 0L878.5 0C857 0 814 0 771.2 0C728.3 0 685.7 0 642.8 0C600 0 557 0 514.2 0C471.3 0 428.7 0 385.8 0C343 0 300 0 257.2 0C214.3 0 171.7 0 128.8 0C86 0 43 0 21.5 0L0 0Z"
      fill="#000000"
      stroke-linecap="round"
      stroke-linejoin="miter"
    ></path>
  </svg>

  <nav class="navbar navbar-expand-lg">
    <div class="navbar-brand">
      <img src="assets/images/landing/logo-white.png" width="70" />
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="announcements">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="payment">Payments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="schedule">Schedule</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="logout()" data-test-id="logout"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
