<div class="pad"></div>
<footer class="text-center text-lg-start">
  <section class="d-flex justify-content-center">
    <a href="" class="text-reset">
      <fa-icon [icon]="faFacebook"></fa-icon>
    </a>
    <a href="" class="text-reset">
      <fa-icon [icon]="faTwitter"></fa-icon>
    </a>
    <a href="" class="text-reset">
      <fa-icon [icon]="faLinkedinIn"></fa-icon>
    </a>
    <a href="" class="text-reset">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
  </section>
  <div class="text-center p-3">
    <small>Copyright &copy; Lord of the Rents</small>
  </div>
</footer>
