<div class="container-fluid d-flex justify-content-center flex-row-reverse">
  <fa-icon
    class="icon exit"
    [icon]="faCircleXmark"
    (click)="closeDialog()"
  ></fa-icon>
  <table class="table table-striped" aria-label="Task Table">
    <thead>
      <tr>
        <th scope="col">Subject</th>
        <th scope="col">Message</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let announcement of allAnnouncements; let i = index">
        <td>{{ announcement.subject }}</td>
        <td>
          {{
            announcement.isShort
              ? announcement.shortMessage
              : announcement.message
          }}
          <span
            class="show-all toggle-{{ announcement.id }}"
            (click)="toggleFullMessage(i)"
          >
            ...
          </span>
        </td>
        <td>{{ announcement.date | date }}</td>
        <td>{{ announcement.time }}</td>
      </tr>
    </tbody>
  </table>
</div>
