@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  color: black;
}
.load {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  font-size: 20px;
}
