.tasks-cont {
  background: url(../../../../assets/images/tenant/ann-bg.png) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100vw;
  position: relative;
  padding-bottom: 80px;
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#title {
  font-size: 45px;
  line-height: 2.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(17, 24, 39, var(--tw-text-opacity));
  padding-top: 120px;
  padding-bottom: 0.625rem;
  text-align: center;
}

table th:nth-child(1) {
  -webkit-border-radius: 5px 0px 0px 0px;
  -moz-border-radius: 5px 0px 0px 0px;
  border-radius: 5px 0px 0px 0px;
}

table th:nth-last-child(1) {
  -webkit-border-radius: 0px 5px 0px 0px;
  -moz-border-radius: 0px 5px 0px 0px;
  border-radius: 0px 5px 0px 0px;
}

table td:nth-child(1) {
  -webkit-border-radius: 0px 0px 0px 5px;
  -moz-border-radius: 0px 0px 0px 5px;
  border-radius: 0px 0px 0px 5px;
}

table td:nth-last-child(1) {
  -webkit-border-radius: 0px 0px 5px 0px;
  -moz-border-radius: 0px 0px 5px 0px;
  border-radius: 0px 0px 5px 0px;
}

thead tr {
  font-family: "Space Grotesk", sans-serif;
  background: #fac683;
  color: #000000;
  text-align: center;
}

.table > :not(caption) > * > * {
  border-bottom-width: 3px !important;
}

tr:nth-of-type(even) {
  background-color: #fac683;
  color: #000000;
}
tr:nth-of-type(odd) {
  background-color: #ffffff;
  color: #000000;
}
tbody tr {
  border-bottom: 0px solid #dddddd;
  text-align: center;
}
table {
  margin: 50px 0px 30px 0px;
  border: 3px solid #000000;
  border-radius: 8px;
  box-shadow: 8px 8px#000000;

  font-size: 20px;
  font-family: "Space Grotesk", sans-serif;
  width: 80%;
  border-spacing: 0;
  border-collapse: separate;
}

td {
  line-height: 5vh;
  border: none;
}

@media screen and (max-width: 1300px) {
  table {
    width: 90%;
  }
  .form-check-input {
    margin-right: 0px;
  }
}
@media screen and (max-width: 1000px) {
  table {
    width: 95%;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);

    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  table td {
    display: block;
    width: 50%;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    font-weight: bold;
  }

  table td:last-child {
    border-bottom: 0;
  }
  .form-check-input {
    margin-top: 1.3vh;
    margin-right: 0px;
  }
}
@media screen and (max-width: 470px) {
  table td {
    display: block;
    width: 100%;
  }
}
